<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBa97JpFA65mCHZ6OkvY4nTP8cIKLbVoqk</string>
	<key>GCM_SENDER_ID</key>
	<string>630270810691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fefeyo.linca</string>
	<key>PROJECT_ID</key>
	<string>linca-4202a</string>
	<key>STORAGE_BUCKET</key>
	<string>linca-4202a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630270810691:ios:d93523d35c22dcb96d92f6</string>
</dict>
</plist>